alexandru-croitoriu.dev {
    root * /srv
    file_server
}
cv.alexandru-croitoriu.dev {
    reverse_proxy wt_cv:9002
}
jenkins.alexandru-croitoriu.dev {
    reverse_proxy jenkins:8080
}
portainer.alexandru-croitoriu.dev {
    reverse_proxy portainer:9000
}
pgadmin.alexandru-croitoriu.dev {
    reverse_proxy pgadmin:80
}
root.alexandru-croitoriu.dev {
    reverse_proxy root-app:8443
}