alexandru-croitoriu.dev {
    reverse_proxy wt_cv:9013
}
shortcuts.alexandru-croitoriu.dev {
    root * /srv
    file_server
}
jenkins.alexandru-croitoriu.dev {
    reverse_proxy jenkins:8080
}
portainer.alexandru-croitoriu.dev {
    reverse_proxy portainer:9000
}
pgadmin.alexandru-croitoriu.dev {
    reverse_proxy pgadmin:9010
}
code-server.alexandru-croitoriu.dev {
    reverse_proxy code-server:8443
}