.stylus-list-tree {
  --tree-clr: #075985;
  --tree-font-size: 1rem;
  --tree-item-height: 1.7;
  --tree-offset: 1.5rem;
  --tree-thickness: 3px;
  --tree-style: solid;

  ul {
    display: grid;
    list-style: none;
    font-size: var(--tree-font-size);
  }
  
  li {
    line-height: var(--tree-item-height);
    padding-inline-start: var(--tree-offset);
    border-left: var(--tree-thickness) var(--tree-style) var(--tree-clr);
    position: relative;
    text-indent: 0.5rem;

    &:last-child {
      border-color: transparent; /* hide (not remove!) border on last li element */
    }

    &::before {
      content: '';
      position: absolute;
      top: calc(var(--tree-item-height) / 2 * -1 * var(--tree-font-size) + var(--tree-thickness));
      left: calc(var(--tree-thickness) * -1);
      width: calc(var(--tree-offset) + var(--tree-thickness) * 2);
      height: calc(var(--tree-item-height) * var(--tree-font-size));
      border-left: var(--tree-thickness) var(--tree-style) var(--tree-clr);
      border-bottom: var(--tree-thickness) var(--tree-style) var(--tree-clr);
    }
  }
}
